@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section {
  padding: 10px;
  margin: 10px;
}

html {
  scroll-behavior: smooth;
}

body{
    padding-top: 80px;
    padding-bottom: 120px;
}

img {
  display: inline-block;
  vertical-align: bottom;
}

/* To make header fix on the top */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

/* End of making header top */




#main {
  padding-bottom: 2.5 rem;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* #page {
  position: relative;
  min-height: 100vh;
} */

ul.links {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

/*
.headers {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */


.headerss {
  background-color:  #11233b;
  position: fixed;
  width: 100%
  color: white;
  padding: 10px 0;
  top: 0;
}

.headerss a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.headerss a:hover {
  border-bottom: 3px solid red;
}

.headerss a.active {
 border-bottom: 3px solid red;
}

.headerss-right {
  float: right;
}

ul.listpeople {
  list-style-type: circle;
}
