@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section {
  padding: 5px;
  margin: 5px;
}

img {
  display: inline-block;
  vertical-align: bottom;
}

/* To make header fix on the top */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}
/* End of making header top */


#header {
  padding-bottom: 2.5 rem;
}

#main {
  padding-bottom: 2.5 rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#page {
  position: relative;
  min-height: 100vh;
}

ul.links {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
}

.headerss {
  background-color:  #11233b;
  overflow: hidden;
  color: white;
  padding: 10px 20px;
}

.headerss a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.headerss a:hover {
  border-bottom: 3px solid red;
}

.headerss a.active {
 border-bottom: 3px solid red;
}



ul.listpeople {
  list-style-type: circle;
}


.footers {

}
